.contact-info {
  background-color: #33333324;
  display: flex;
  padding: 150px;
  grid-template-columns: 50% 50%;
  flex-direction: column;
  align-items: stretch;
  padding-right: 5vw;
}

@media (max-width:550px) {
  .contact-info {
    display: block;
    padding: 150px 10px;
  }
  .heading a {
    text-align: end;
    font-weight: bold;
    font-size: 20px;
  }
}
.overlay-contact {
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
  min-height: 100%;
  background-color: #2c4e84f2;
  color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 100px;
}

.overlay-contact h1 {
  font-size: 36px;
  font-weight: bold;
}

.overlay-contact h6 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 29px;
  font-weight: bold;
  color: rgb(0, 216, 255);
}

.overlay-contact h3 {
  font-size: 60px;
  font-weight: bold;
  margin: auto;
  color: white;
  white-space: nowrap;
  padding-bottom: 49px;
  border-bottom: 4px solid rgb(0,216,255);
  width: 304px;
}

.overlay-contact p {
  font-size: 25px;
  line-height: 2;
  padding: 49px;
}

ul li {
  list-style: none;

}

ul li a {
  text-decoration: none;
  
}

.contact-info .social, .contact-info .contact-methods {
  text-align: start;
  gap: 10px;
  display: grid;
  grid-template-columns: 80% 20%;
}

 .heading a {
  text-align: end;
  font-weight: bold;
}

.contact-info .social a, .contact-info .contact-methods a {
  text-decoration: none;
  display: block;
  margin-bottom: 42px;
  text-align: end;
  font-size: 22px;
}

.icons .social, .icons .social {
  overflow: visible;
  display: block;
  margin-bottom: 56px;
  box-sizing: content-box;
  font-size: 23px;
}

.contact-info .contact-methods {
  text-align: start;
}

.contact-heading {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 70px;
}





@media (max-width : 770px){
  .overlay-contact h6 {
    font-size: 26px;
    font-weight: bold;
  }
  .overlay-contact h3 {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    color: white;
    white-space: nowrap;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(0,216,255);
    width: 304px;
  }
  .overlay-contact p{
    font-size: 18px;
    line-height: 2;
    padding: 10px;
  }
}
@media (max-width : 360px){
  .overlay-contact h6 {
    font-size: 20px;
    font-weight: bold;
  }
  .overlay-contact h3 {
    font-size: 40px;
    font-weight: bold;
    margin: auto;
    color: white;
    white-space: nowrap;
    padding-bottom: 20px;
    border-bottom: 4px solid rgb(0,216,255);
    width: 304px;
  }
  .overlay-contact p{
    font-size: 18px;
    line-height: 2;
    padding: 10px;
  }
}

















